.gametile2-outer-container{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}
.gametile2-inner-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 700px;
    align-items: center;
    border: solid black;
    height: 80px;

}
.gametile2-image{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 200px;
    height: 80px;
    border-right: solid black;
}
.gametile2-image:hover{
    border-right: solid 3px red;
    border-top: solid 3px red;
    border-bottom: solid 3px red;
}

.gametile2-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-left: 20px;
}
