.registreren-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    border-right: solid  black;
    border-left: solid black;
    margin-left: 20%;
    margin-right: 20%;
}

.registreren-title {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content:center;*/
    /*align-items: center;*/
    margin-top: 40px;
    width: 400px;
}
.registeren-message{
    margin-bottom: 10px;
}

.registreren-fieldset{
    margin: 20px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    background-color: black;
    color: white;
}
.form-registreren-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    border-left: solid black;
    border-right: solid black;
    border-bottom: solid black;
    margin-left: 20%;
    margin-right: 20%;


}

.label{
    width: 400px;
}

.registreren-profile-input{
    width: 400px;
    margin-bottom: 20px;
    height: 40px;
}

.registreren-email-input{
    width: 400px;
    margin-bottom: 20px;
    height: 40px;
}
.label{
width: 400px;
}

.label{
width: 400px;
}

.registreren-password-input{
    width: 400px;
    margin-bottom: 20px;
    height: 40px;
}

.registreren-button{
    background-color: black;
    color: white;
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.registreren-link{
    text-decoration: underline;
    color: black;
    text-decoration-style: initial;
}

.registreren-text{
    margin-top: 20px;
}