.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
    border-left:  solid black;
    border-right: solid black;
    border-bottom: Solid black;
    flex-shrink: 1;
    flex-grow: 0;
}
.profile-title{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.profile-text{
    flex-shrink: 1;
    flex-grow: 0;
    border-radius: 6px;
    margin: 20px;
    text-decoration: underline 3px;
    text-underline-offset: 6px ;
}
.gegevens-title{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.welcome-message{
    margin: 10px;
}

.logout-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}
.logout-button{
    width: 150px;
    height: 50px;
    border: solid   black;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 30px;
}

.Login-required{
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: underline;
}

.empty-gif{
    margin-bottom: 40px;
    width: 300px;
    flex-shrink: 1;
    flex-grow: 0;
}