*{
    margin: 0;
    padding: 0;
}

.screenshot{
    width:250px;
    height: 200px;
}

.screenshot:hover{
    border-right: solid 3px red;
    border-bottom: solid 3px red;
}

.text{
    width: 250px;
    height: 75px;
    white-space: nowrap ;
    overflow: hidden;
    text-overflow: ellipsis;
}
.section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.article{
    width: 250px;
    background-color: gainsboro;
    margin-top: 30px;
    /*height: 300px;*/
    border: solid black;
}

.gametile2-section{
    margin: 30px;
}

.gif-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.gif {
    width: 60%;
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: solid red;
}
.data-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.data-button{
    width: 150px;
    height: 55px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.data-button:hover{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(190,9,9,1) 22%, rgba(250,0,0,1) 50%, rgba(233,35,1,1) 77%, rgba(0,0,0,1) 100%);
    color: white;
    text-decoration: underline black;
    text-underline-offset: 4px;
    cursor: pointer;
}

.games-button{
    width: 200px;
    height: 100px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(190,9,9,1) 22%, rgba(250,0,0,1) 50%, rgba(233,35,1,1) 77%, rgba(0,0,0,1) 100%);
    margin: 20px;
    border-radius: 2em;
    cursor: pointer;
    text-underline-offset: 4px;

}
.button-link{
    text-transform: uppercase;
}

.button-link:hover{
    color:#CAA805 ;
    background-color: black;
    border: solid black;
    border-radius: 6px;
}
.games-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 60px;
}