
.game-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid black;
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;
}


.main-gamedata-photo{
    width: 600px;
    margin: 20px;
}

.game-name-and-release{
margin: 20px;
}

.game-info{
    margin: 20px;
    margin-right: 20%;
}

.game-achievements{
    margin: 20px;
}
.secondary-gamedata-photo{
    width: 400px;
    margin: 20px;
}

.information-container{
    margin: 20px;
}

.game-link{
    margin-left: 20px;
    color: black;
    text-decoration: underline overline 3px;
    text-underline-offset: 8px;
    width: 200px;
}