
.game-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid black;
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;
}


.main-gamedata-photo{
    width: auto;
    max-width: 550px;
    margin: 20px;
    flex-grow: 0;
    flex-shrink: 1;
}

.game-name-and-release{
margin: 20px;
}

.game-info{
    margin: 20px;
    margin-right: 20%;
}

.game-achievements{
    margin: 20px;
}
.secondary-gamedata-photo{
    width: auto;
    max-width: 400px;
    margin: 20px;
}

.information-container{
    margin: 20px;
}
.reddit-logo{
    width: 120px;
}
.game-link{
    margin-left: 20px;
    color: black;
    text-decoration: underline overline 3px;
    text-underline-offset: 8px;
    width: 200px;
    margin-bottom: 20px;
}

.reddit-page-name{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.game-link-2{
    margin-left: 20px;
    color: black;
    text-decoration: underline overline 3px;
    text-underline-offset: 8px;
    width: 300px;
}

.reddit-description{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20%
}